<html>
    <head>
        <title>Video stream sample</title>
        <style>
            body {
                background-color: #494949;
            }
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                border: 1px solid black;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
            }
        </style>
    </head>
    <body>
        <div class="container" align='center'>
            <img src="/video">
    <div/>
    </body>
</html>